.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content space-between
  align-items center
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor pointer
}