@import "variables.styl"

// fonts
@font-face
  font-family yekan
  font-style normal
  src url('~/assets/fonts/yekan-regular.ttf')

@font-face
  font-family yekan-light
  font-style normal
  src url('~/assets/fonts/iranyekanweblight.ttf') 
  
body.noscroll
  overflow: hidden

.container
    margin-right: auto
    margin-left: auto
    padding-left:  15px
    padding-right: 15px
    padding-bottom 90px

    @media (min-width: 768px) { width: 750px; }
    @media (min-width: 1024px) { width: 970px; }
    @media (min-width: 1200px) { width: 1170px; }

li              
  list-style: none
p, h1, h2, h3, h6, button, span, a, li, label
  font-family yekan, sans-serif
  color white
.dash-container
  p, h1, h2, h3, h6, span, a, li, label
    color #000
  h2
    line-height 1.8
    padding-bottom 20px
    font-size 18px
  &.alert-text
    color #ff2d55
    text-decoration underline
  &.pending-text
    color #296bdd
  &.success-text
    color #2cac46

p, h6, button
  font-size font-small
p
  line-height 1.88
h1, h2
  font-size font-big
  line-height 1.8

a 
 text-decoration none 
   
input
  font-size font-small
  color #000
input::placeholder
  color gray
  font-family yekan, sans-serif
  font-size: font-small
.img-responsive
  width 100%

h2.title 
  color white 
  margin 0
  padding 20px 0
  text-align center
  font-size 30px
  
p.description 
  text-align center
  font-size 18px

.no-padding
  padding 0

.inner-content
  padding 0 150px
  
.row-block
  margin-bottom 30px
  display block

.article
  background #fff
  width 100%
  min-height 500px
  border-radius 20px
  padding 50px 100px
  box-sizing border-box
  img
    width 100%
  h1,h2,h3
    line-height initial
  h1,h2,h3,h6,p
    color #000
    padding-bottom 30px
  h6
    padding-bottom 0
  a
    color #ff859e

.flex
  display flex
  align-items center
.centered-page
  min-height 86vh
  justify-content center
  align-items center
@media only screen and (max-width: 991px)
  .article
    padding 50px 30px
  
@media (max-width: 768px )
  .no-line-height
    line-height 1.8 !important
  .inner-content
    padding 0 15px
  input, input::placeholder
    font-size font-x-small
    font-family yekan, sans-serif

.font-bold
  font-weight bold
.fandogh-form-group
  margin 15px 0
  display block
  &:first-of-type
    margin-top 0

.center
  text-align center

.margin-5
  margin 5px
.margin-10
  margin 10px
.margin-20
  margin 20px
.margin-40
  margin 40px 0

.margin-top-100
  margin-top 100px
.80
  width 80%

.bounce-enter-active {
  animation: bounce-in .3s;
}
.bounce-leave-active {
  animation: bounce-in .3s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

