mobileWidth = 748px
tabletWidth = 1170px
laptopWidth = 1400px

mobile = "only screen and (max-width: " + mobileWidth + ")"
tablet = "only screen and (max-width: " + tabletWidth + ")"
laptop = "only screen and (max-width: " + laptopWidth + ")"
