.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label::before{
    content: "";
    display: inline-block;
    
    height: 20px;
    width: 20px;
    background #1b006a
    border-radius 8px  
}

.checkbox label::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 40%;
    background: #fff;
    transform: rotate(-45deg);
}


.checkbox 
  label 
    position relative
    margin 5px
  

.checkbox label::before,
.checkbox label::after {
    position: absolute;
}
/*Outer-box*/
.checkbox label::before {
    
    right: -27px
}
/*Checkmark*/
.checkbox label::after {
    right: -22px;
    top: 5px;
}
/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}
/*Unhide the checkmark on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

