.fandogh-input
  font-size: 14px;
  font-weight 100
  background: rgb(27,0,106,.8);
  margin 5px 0
  border: none;
  width: 370px;
  color #fff;
  padding 10px 5px
  border-radius 4px
  direction ltr

.input-color-blue::placeholder
  color #2202f1
  direction rtl
  
@media only screen and (max-width: 576px)
  .fandogh-input
    font-size: 13px;
    width: 270px;