.fandogh-input
  font-size: 16px;
  color: #000;
  padding: 8px;
  background: rgb(27,0,106,.8);

  border: none;
  /* box-sizing: content-box; */
  width: 370px;
  color #fff;
  padding 8px 5px
  border-radius 4px

.input-color-blue::placeholder
  color #2202f1