.fandogh-input
  font-size: 14px;
  font-weight 100
  background: rgb(27,0,106,.8);
  margin 5px 0
  border: none;
  width: 370px;
  color #fff;
  padding 10px
  border-radius 4px
  direction ltr


.input-color-blue::-webkit-input-placeholder
	color #725cb5
	text-align right
	
.input-color-blue:-moz-placeholder
	color #725cb5
	text-align right

.input-color-blue::-moz-placeholder
	color #725cb5
	text-align right
.input-color-blue:-ms-input-placeholder
	color #725cb5
	text-align right
  
@media only screen and (max-width: 576px)
  .fandogh-input
    font-size: 13px;
    width: 270px;